
form{
    width: 300px;
    height: 400px;
    margin-left: 35%;
    padding-top: 20px;
    border: 2px solid white;
}
.a{
    padding: 20px;
    font-style: italic;
}
body{
    background-color:burlywood;
    font-style: italic;

    
}


button{
    background-color:cadetblue;
    color: orange;

}

